<div class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a [routerLink]="['/admin/dashboard']" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
        </nav>
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a [routerLink]="['/admin/dashboard']" class="brand-link">
                <img src="../../../assets/admin/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">SRC Express</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="../../../assets/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">{{fullnameUser}}</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Tickets
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/tickets']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Show Tickets</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/tickets/add']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Create Ticket</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Account
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/account']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Account Infomation</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/account/add']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Add Account</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--  -->
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Price
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/account/priceperkm']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">PricePerkm</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a [routerLink]="['/admin/account/priceage']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">DiscountForAge</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Cars
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/cars']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Show Cars</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/cars/add']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Create Cars</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Trips
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/trips']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Show Trips</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/trips/add']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Create Trip</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Refund
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/refund']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Refund Info</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a [routerLink]="['/admin/refund/request']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Request Refund</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p style="color: #c2c7d0;">
                                    Active Trips
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a [routerLink]="['/admin/activetrips']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Active Trips Info</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a [routerLink]="['/admin/activetrips/add']" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p style="color: #c2c7d0;">Add Active Trips </p>
                                    </a>
                                </li>
                            </ul>
                        </li>



                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Add Active Trips</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Add Active Trips</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Add</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputName">Trips</label>
                                        <select name="trips" class="form-control" (change)="changeTrip($event)">
                                            <option value="0" selected>Select</option>
                          <option  *ngFor="let t of trips " [value]="t.id">{{t.nameTrip}}</option>
                          
                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputDescription">Car Run</label>
                                        <select *ngIf="carsl" class="form-control" (change)="changeCar($event)">
                          <option *ngFor="let c of carsl" [value]="c.id">{{c.id}}</option>
                         
                        </select>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="inputStatus">Start Time</label>
                                                <select *ngIf="timeStart" class="form-control" (change)="changeTime($event)">
                              <option *ngFor="let tm of timeStart" [value]="tm.id">{{tm.timeStart.replace("1900-01-01T","")}}</option>
                             
                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="inputStatus">Status</label>
                                                <select class="form-control" (change)="changeStatus($event)">
                                                    <option value=0>Not Active</option>
                             
                              
                             
                            </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 ">

                                        </div>
                                        <div class="form-group ">

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3 ">

                                </div>
                                <!-- /.card-body -->

                            </div>
                            <!-- /.card -->

                        </div>

                    </div>

                    <div class="row ">
                        <div class="col-6 ">

                            <input type="submit" value="Create new Ticket" class="btn btn-success float-right" (click)="create()">
                        </div>
                        <div class="col-md-3 "></div>
                    </div>
                </form>
            </section>
            <!-- /.content -->
        </div>

        <footer class="main-footer ">
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io ">AdminLTE.io</a>.</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block ">
                <b>Version</b> 3.0.5
            </div>
        </footer>

    </div>
</div>